// colors
$purple:#7A64C1;
$rose: #FFA0EC;
$pink:#FFB7CB;
$medium_pink:#FCE4DB;
$low_pink:#F4DCDC;
$white:#fff;
$black:#000;
$gray:#BFBFBF;

//fonts
$small:16px;
$medium:20px;
$big:48px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top:30px;
$big-margin-top:90px;

$border-radius:4px;